In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

---

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


8. Lowest speed for Grass or Rock


10. Change all the column names

      - lowercase letters
      - remove whitespace


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?


15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

# INFORMATION ABOUT A DATAFRAME

### 1. Obtain the following information:

##### 1a. dimensions

In [2]:
df.shape

(800, 13)

##### 1b. dtypes

In [3]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

##### 1c. column names

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

##### 1d. summary statistics

In [5]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# WORKING WITH DATAFRAMES

### 1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [26]:
print('Highest HP')
maxhp = df.HP == df.HP.max()
df[maxhp]

Highest HP

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [20]:
print('Highest ATK')
maxatk = df.Attack == df.Attack.max()
df[maxatk]

Highest ATK

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

### 2. Which Pokemon possess(es) the highest HP value?

In [33]:
print('Pokemon with highest hp')
df.loc[maxhp, 'Name']

Pokemon with highest hp

261    Blissey
Name: Name, dtype: object

### 3.  How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [44]:
num_types = df['Type 1'].nunique()
num_types

18

### 4. Number of Pokemon whose Type 2 is Ghost

In [56]:
df[df['Type 2'] == 'Ghost'].shape[0]

14

### 5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [63]:
percent_ghost = df[df['Type 2'] == 'Ghost'].shape[0] / df['Type 2'].shape[0]
percent_ghost

0.0175

### 6. Number of Pokemon whose Attack is greater than Defense

In [68]:
df[df['Attack'] > df['Defense']].shape[0]

433

### 7. Lowest speed for Grass or Rock

In [91]:
grass_or_rock = df[(df['Type 1'] == 'Grass') | (df['Type 1'] == 'Rock') | (df['Type 2'] == 'Grass') | (df['Type 2'] == 'Rock')]
grass_or_rock.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [94]:
grass_or_rock.Speed.nsmallest()

230     5
486    10
658    10
583    15
651    15
Name: Speed, dtype: int64

In [96]:
df.loc[grass_or_rock.Speed.min()]

#                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
Total                405
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object

### 8. Change all the column names

      - lowercase letters
      - remove whitespace

In [100]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [106]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '')

In [110]:
df.columns

Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'sp.atk', 'sp.def', 'speed', 'generation', 'legendary'],
      dtype='object')

In [109]:
'''
df.rename(columns={
            'Name': 'name',
            'Type 1':'type-1',
            'Type 2':'type-2',
            'Total':'total',
            'HP':'hp',
            'Attack':'attack',
            'Defense':'defense',
            'Sp. Atk':'special-attack',
            'Sp. Def':'special-defense',
            'Speed':'speed',
            'Generation':'generation',
            'Legendary':'legendary'
})
'''

"\ndf.rename(columns={\n            'Name': 'name',\n            'Type 1':'type-1',\n            'Type 2':'type-2',\n            'Total':'total',\n            'HP':'hp',\n            'Attack':'attack',\n            'Defense':'defense',\n            'Sp. Atk':'special-attack',\n            'Sp. Def':'special-defense',\n            'Speed':'speed',\n            'Generation':'generation',\n            'Legendary':'legendary'\n})\n"

### 9. Rename Sp. Attack to special-attack

In [117]:
df = df.rename(columns={'sp.atk': 'special-attack'})

In [119]:
df.columns

Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'special-attack', 'sp.def', 'speed', 'generation', 'legendary'],
      dtype='object')

### 10. Rename Sp. Def to special-defense

In [121]:
df = df.rename(columns={'sp.def':'special-defense'})

In [122]:
df.columns

Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'special-attack', 'special-defense', 'speed', 'generation',
       'legendary'],
      dtype='object')

### 11. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

In [124]:
df['atk-def-diff'] = df.attack - df.defense

In [129]:
df['spatk-spdef-diff'] = df['special-attack'] - df['special-defense']

In [132]:
df.loc[df['atk-def-diff'].max()]

#                         148
name                Dragonair
type1                  Dragon
type2                     NaN
total                     420
hp                         61
attack                     84
defense                    65
special-attack             70
special-defense            70
speed                      70
generation                  1
legendary               False
atk-def-diff               19
spatk-spdef-diff            0
Name: 160, dtype: object

In [134]:
df.loc[df['spatk-spdef-diff'].max()]

#                         148
name                Dragonair
type1                  Dragon
type2                     NaN
total                     420
hp                         61
attack                     84
defense                    65
special-attack             70
special-defense            70
speed                      70
generation                  1
legendary               False
atk-def-diff               19
spatk-spdef-diff            0
Name: 160, dtype: object

### 12. How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [140]:
df[(df['type1'] == 'Rock') & (df['type2'] == 'Fairy')].shape[0]

3

### 13. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

In [153]:
last_pokemon = df.name.max()
df[(df['type1'] == 'Fire') | (df['type2'] == 'Fire')].name.max()

'Vulpix'

# BONUS

### 1. Find the average speed by Generation

In [154]:
df.head(1)

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,atk-def-diff,spatk-spdef-diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,0

In [159]:
df.groupby('generation')['speed'].mean().round(2)

generation
1    72.58
2    61.81
3    66.92
4    71.34
5    68.08
6    66.44
Name: speed, dtype: float64

### 2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense

The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [166]:
def test():
    import pandas as pd
    import numpy as np
    url = input('Please put complete dataframe url here:\n')
    df = pd.read_csv(url)
    column1 = input('1st column name:\n')
    column2 = input('2nd column name:\n')
    df['stats-diff'] = df[column1] - df[column2]
    return df
test()

Please put complete dataframe url here:
https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv
1st column name:
Attack
2nd column name:
Defense

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,stats-diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,-50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,-10